language: java

dist: trusty
sudo: required

before_install:
 - chmod +x gradlew

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
 - ./gradlew test --debug

after_success:
  - ./gradlew jacocoTestReport
  - pip install --user codecov
  - codecov 
 
